*.d.ts
node_modules
.vscode
.cache
.cdk.staging
cdk.out
.log
dist
.cfn-role
.DS_Store
.idea
.build
.stack.json
target
.eslintcache
stackdetails.json
Api.json
Config.json
Data.json
openapi.json
openapi/client